<html>
  <head>
    <title> Releasify </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= tag :meta, name: :psj, action: action_name, controller: controller_name %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= yield :js %>
  </head>

  <body>
    <div id="main-frame">
      <nav id="left-nav">
      </nav>
      <div id="middle-frame">
        <nav id="top-menu">
        </nav>
        <div id="main-content">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
